h1{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Arial";
  opacity: 0.75;
  height: 30px;
  padding: 20px;
}


.grid {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  grid-gap: 10px 15px;
  position: relative;
  margin: 0 auto;
}

.box{
  display: flex;
    justify-content: center;
align-items: center;
   font-family: "Fredericka the Great";
  font-size: 18px;
  font-weight: 400;
  
}
.red{
       background-color:rgb(255, 247, 204);
}

.blue{
  background-color:rgb(255, 247, 204);
}

.gray{

  background-color:rgb(255, 247, 204);
}


.black{
  background-color:rgb(255, 247, 204);
}

div.button{
  position: relative;
    margin-left: 75%;
    border: hsla(10, 60%, 20%,.25) solid 1px;
    margin-top: 50px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    color: rbga(0,0,0, .5);
     box-shadow: 5px 5px 5px hsl(193, 0%, 65%); 
}
