h1{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: "Arial";
  opacity: 0.75;
  height: 30px;
  padding: 20px;
}


.grid {
  height: 500px;
  width: 500px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  grid-gap: 10px 15px;
  position: relative;
  margin: 0 auto;
}

.box{
  display: flex;
    justify-content: center;
align-items: center;
   font-family: "Fredericka the Great";
  font-size: 18px;
  font-weight: 400;
}
.red{
       background-color:rgb(255, 247, 204);
}

.blue{
  background-color:rgb(255, 247, 204);
}

.gray{

  background-color:rgb(255, 247, 204);
}


.black{
  background-color:rgb(255, 247, 204);
}

.button{
position: relative;

    border: hsla(10, 60%, 20%,.25) solid 1.2px;
    margin-bottom: 1em;
    margin-top: 1em;
  margin-left: 60%;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
     box-shadow: 5px 5px 5px hsl(193, 0%, 65%); 
       text-align: center;
         width: 5em;
}

#codeMaster {
    background-color: white;
    color: rbga(0,0,0, .5);
}

#teamButton {

  font-weight: bold;
  font-family: "Arial";
  background-color: hsl(62, 75%, 91%);

}


#resetGame
{
  margin-left: 10px;
}

